/* About Me Page Styles */
#about-me {
  @media (min-width: 1200px) {
    margin-top: 4.45rem !important; /* 71.2px */
    margin-bottom: 4.45rem !important; /* 71.2px */
  }
  .hero-and-skills { 
    @media (min-width: 992px) {
      min-width: 18rem; /* 288px */
    }
    @media (min-width: 1200px) {
      min-width: 21.875rem; /* 350px */
    }
    @media (min-width: 1600px) {
      min-width: 26.5625rem; /* 425px */
    }
    @media (min-width: 1920px) {
      min-width: 34.6875rem; /* 555px */
    }
  }
  .bio-text {
    @media (min-width: 1200px) {
      font-size: 1.875rem !important; /* 30px */
    }
    @media (min-width: 1600px) {
      font-size: 2rem !important; /* 32px */
    }
  } 
}